{% extends 'home/base.html' %}
{% load static %}

{% block title %}Probe | Homepage{% endblock %}

{% block content %}

<div class="col">


    <div class="col mt-5">
        <img src="{% static 'images/logo.png' %}" class="mx-auto d-block" style="width: 25%; height: 25%">
    </div>


    <form class="mt-5 container" name="search" style="width: 50%" action="{% url 'search' %}">
        <div class="col-6 mx-auto input-group">
            <input type="text" class="form-control" name="search" placeholder="search...">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
{% endblock %}