{% extends 'base.html' %}

{% block content %}
<div class="col">


    <div class="col mt-5">
        <img src="{{url_for('static', filename='./images/logo.png')}}" class="mx-auto d-block"
            style="width: 25%; height: 25%;">
        <h1 style="color:rgb(91, 94, 92); text-align:center;font-family: 'Times New Roman', Times, serif;margin-top: 15px;padding: 15px;"
            class="mt-2"><b>Glugle Search</b></h2>
    </div>


    <form class="mt-5 container" name="search" style="width: 50%" action="/search_results">
        <div class="col-6 mx-auto input-group">
            <input type="text" class="form-control" name="search" placeholder="search...">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
{% endblock %}