{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form class="mt-5 container" name="search" style="width: 50%" action="/search_results">
        <div class="col-6 mx-auto input-group">
            <input type="text" class="form-control" name="search" placeholder="search...">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>

    <div class="container mx-5 mt-5">
        <p style="color: teal;"><b>Search result for '{{search_string}}'</b></p>
    </div>

    {% if search_result %}
    {% for link in search_result %}
    <div class="container mt-3" style="width:90%">

        <div class="col">
            <strong><a href="{{ link.url }}">{{ link.title }}</a></strong>
        </div>

        <div class="col">
            <a href="{{ link.url }}">{{ link.url }}</a>
            <p>{{ link.description[:300] }}...</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <b>No results found</b>
    {% endif %}

    <div class="col mb-5 mt-2 text-center">
        {{pagination.links}}
    </div>
</div>

{% endblock %}